.steplist {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-evenly;
  padding: 1rem 0;
}


.step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.step button {
  border: 3px solid white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 0.52rem;
  background: transparent;
  color: white;
}

.step button, h4 {
  font-weight: 100;
  opacity: 0.7;
}

button:hover, .step:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: transform 1s ease-in-out;
}

button:hover {
  transform: scale(1.03);
  transition: transform 1s ease-in-out;
}

.selected button, .selected h4 {
  font-weight: 300;
  opacity: 1;
}