.personalInfo {

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  text-align: left;
  padding: 2rem 0;
  height: 72vh;
}

input {
  display: block;
  width: 248px;
}

label {
  width: 248px;
}

h2 {
  margin-bottom: 2rem;
}

